.customers__title {
    @include font(28, calc(33/28), 0.03);
    text-align: center;
    margin-bottom: 30px;
    @media screen and (min-width: 1200px){
    @include font(36, calc(42/36), 0.03);
    };
        margin-bottom: 50px;
}

.customers__list {
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
    
@media screen and (min-width: 1200px){
    flex-wrap: nowrap;};
      
}
.customers__icon {
    fill: #afb1b8;
}
.customers__item {
    height: 92px;
    width: calc((100% - 60px)/2);
    
         
    &:hover .customers__icon {
            fill: var(--active-color);
        };
     &:focus .customers__icon {
            fill: var(--active-color);
        };
@media screen and (min-width: 768px){
    flex-basis: calc((100% - 120px)/3);
};
@media screen and (min-width: 1200px){
    flex-basis: calc((100% - 150px)/6);
   
};
 }
        

.customers__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    border: 1px rgba(175, 177, 184, 1) solid;
    border-radius: 4px;
    color: var(--active-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            border: 1px solid var(--active-color);
        };
}







