.header__nav--logo {
    margin: 16px  15px;
    font-family: 'Raleway';
    font-weight: 700;
    @include font(24, 1.16, 0.03);
    color: var(--active-color-two);
    @media screen and (min-width: 768px){
        margin: 26px 15px;
    };
    @media screen and (min-width: 1200px){
    margin-top: 24px;
     margin-bottom: 25px;
    };
    
}

a.header__nav--logo {
    color: var(--active-color-two);   
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: var(--active-color);
        };
    @media screen and (min-width: 768px){
                margin-right: 50px;
            }
}

.header__nav--logo--text {
    color: var(--active-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: var(--active-color);
        };
}
.header__nav--link {
    position: relative;
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    @include font(14, 1.14, 0.02);
   line-height: 100%;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &.current::after {
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            content: "";
            width: 100%;
            height: 4px;
            background-color: rgba(33, 150, 243, 1);
            border-radius: 2px;
            transform: translateY(27px);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            @media screen and (min-width: 1200px) {
                transform: translateY(32px);
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            };
        };
        &:hover,
        &:focus {
            color: var(--active-color);
        };}

.current {
    color: var(--active-color);

}
.header{
    position: relative;
}
.header__nav--item {
    margin-right: 50px;
            &:last-child {
            margin-right: 0px;
        };
    margin-top: 24px;
    margin-bottom: 25px;
    @media screen and (min-width: 1200px){
        padding: 10px 0px;
    };
}
.header__nav--list,
.header__address {
    display: none;
   
    @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: center;
        };
        @media screen and (min-width: 1200px){
                display: flex;
                align-items: center;
                justify-content: center;
        }
}
.header__address{
    @media screen and (min-width: 768px) {
            display: block;
        };
    @media screen and (min-width: 1200px) {
            display: flex;
        }
    
        ;
}
.header__nav {
    display: flex;
    align-items: center;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head {
    border-bottom: 1px #ECECEC solid;
}
.header__address--mail {
    margin-right: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: var(--active-color);
        };
}

.header__address--tel {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus{
            color: var(--active-color);
        };
}

.header__icons--tel,
.header__icon--mail {
    
    fill: currentColor;
    margin-right: 10px;
}

.header__icons--tel {
    background-position: bottom;
}
.header__icon{
    font-family: 'roboto', sans-serif;
        font-weight: 500;
        @include font(14, 1.14, 0.02);
        line-height: 100%;
        color: #757575;
@media screen and (min-width: 768px){
    &:not(:last-child){
        margin-bottom: 10px;
    }
}
}
