.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &.is__hidden .modal {
            transform: translate(-50%, -50%) scaleY(0) scaleX(0);
        }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1) scaleX(1);
    width: 528px;
    min-height: 581px;
    background-color: var(--primary-color);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 40px;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover .icon__close {
            fill: var(--active-color);
        }

}

.icon__close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.modal__heading {
    font-family: "roboto", sans-serif;
    font-weight: 700;
    @include font(20, 1.15, 0.03);
    color: #212121;
    text-align: center;
    margin-bottom: 12px;
}

.modal__input--group {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    @include font( 12, 1.16, 0.01);
    color: var(--font-color);
    text-align: left;
}

.modal__input--wrap {
    position: relative;
}

.modal__input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 4px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__text {

    width: 100%;
    height: 120px;
    max-height: 250px;
    padding: 12px 16px;
    resize: vertical;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    margin-bottom: 20px;
    margin-top: 4px;
    &::placeholder {
            font-family: 'roboto', sans-serif;
            font-weight: 400;
            @include font(12 , 1.14, 0.01);
            color: rgba(117, 117, 117, 0.5);
            };
}

.modal__btn {
    font-family: inherit;
    font-weight: 700;
    @include font(16, 1.88, 0.06);
    color: var(--primary-color);
    text-align: center;
    display: inline-block;
    padding: 10px 52px;
    background-color: #188CE8;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}


.modal__input {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    @include font(14, 1.16, 0.01);
    margin-top: 4px;
       &::placeholder {
            border-color: var(--active-color);
            font-weight: 400;};   
        &:focus,
        &:hover {
            border-color: var(--active-color);
            outline: transparent;};
        &:focus+svg,
        &:hover+svg {
            fill: var(--active-color);};
}
.modal__input--icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-65%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__politic--check {
    margin-top: 4px;
    &:checked+label::before {
            border: none;
            background-repeat: no-repeat;
            background-image: url('../images/Vector.svg');
            background-position: center;
            background-color: var(--active-color);
        };
}



.modal__politic--label {
    display: flex;
    align-items: center;
        & { @include font(14, 1.71, 0.03);            
            font-weight: 400;            
        };
        &::before {
                content: '';
                width: 16px;
                height: 16px;
                border: 2px solid rgba(33, 33, 33, 1);
                border-radius: 2px;
                margin-right: 10px;
                margin-left: 15px;
                background-color: var(--primary-color);     
            };

}

.modal__link {
    margin-left: 5px;
}