.project__title {
    padding-bottom: 4px;
    font-weight: 700;
    @include font(18, 2.0, 0.06);
    color: #212121;
}

.project__description {
    @include font(16, 1.88, 0.03);
    color: var(--font-color);
}

.project__link {
    text-decoration: none;
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover .project__cover--text {
            transform: translateY(0);
        };
    
        &:focus .project__cover--text {
            transform: translateY(0);
        };
        &:hover,
         &:focus {
                box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
                };
}

.project__list {
    display: flex;
    flex-wrap: wrap;
}


.project__item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
         &:nth-child(3n) {
            margin-right: 0px;
        };
    
        &:nth-last-child(-n+3) {
            margin-bottom: 0px;
        };
}
.project__border {
    padding: 20px 24px;
    border-bottom: 1px rgba(0, 0, 0, 0.14) solid;
    border-left: 1px rgba(0, 0, 0, 0.14) solid;
    border-right: 1px rgba(0, 0, 0, 0.14) solid;

}
.project__cover--text {
    font-weight: 400;
    @include font(18, 1.55, 0.03);
    padding: 63px 24px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(33, 150, 243, 0.9);
    position: absolute;
    top: 0;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__wrap {
    position: relative;
    overflow: hidden;
}