.filter__button {
    font-family: inherit;
    font-weight: 500;
    @include font(16, 1.62, 0.03);
    text-align: center;
    border-radius: 4px;
    border: 5px solid transparent;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            background-color: var(--active-color);
            color: var(--primary-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
        };
         &:hover,
        &:focus {
             box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1);
                };
}

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
}

.filter__buttons {
    margin-right: 8px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
       &:last-child {
            margin-right: 0px;
        };
}



