@mixin font($fs, $lh, $ls){
    font-size: $fs + px;
    line-height: $lh;
    letter-spacing: $ls + em;
}
@mixin retina{
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    @content;
}
}