p,
h1,
h2,
h3 {
    margin: 0px;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.link {
    text-decoration: none;
    color: var(--font-color);
}
body {
    font-family: "roboto", sans-serif;
    background-color: var(--primary-color);
    color: #212121;
}
img {
    display: block;
    width: 100%;
    height: auto;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    @media screen and (min-width: 1200px){
    padding-top: 94px;
    padding-bottom: 94px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}